body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

header, main, footer {
    margin-bottom: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
}
table{
border-collapse:collapse;
width:100%;
}

td,th{
padding:6px 10px;
line-height:1.2;
}

tr{
height:auto;
}
